.row_card {
  /* background-color: beige; */
  width: 90%;
  margin: 10px auto;
  border-radius: 10px;
  overflow: hidden;
  /* padding: 20px !important; */
  cursor: pointer;
  transition: 0.2s;
}
.row_card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px var(--hover-color-dark);
}
